<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QSO Logger</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/ripjar-material-datetime-picker/material-datetime-picker.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/materialize.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="main-loader progress">
            <div class="indeterminate"></div>
        </div>

        <nav class="blue darken-2">
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse" style="display: block;"><i class="material-icons">menu</i></a>
                <div class="col s12">
                    <span class="brand-logo">{% if title is defined %}{{ title }}{% else %}QSO Logger{% endif %}</span>
                </div>
            </div>
        </nav>


        <ul id="slide-out" class="side-nav">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="{{ asset('assets/img/menu-bg.jpg') }}"> {# SOURCE: http://www.freestockphotos.biz/stockphoto/9090 #}
                    </div>
                    <a href="#!user"><img class="circle" src="{{ asset('assets/img/logo-white.png') }}"></a>
                    <a href="#!name"><span class="white-text name">{{ app.user.firstname }} {{ app.user.lastname }}</span></a>
                    <a href="#!email"><span class="white-text email">{{ app.user.email }}</span></a>
                </div>
            </li>
            <li><a class="nav-url" href="{{ url('qso_dashboard') }}"><i class="material-icons">home</i>Dashboard</a></li>
            <li><a class="nav-url" href="{{ url('qso_logbook_add') }}"><i class="material-icons">add</i>Logbook</a></li>
            <li><a class="nav-url" href="{{ url('qso_logbook_overview') }}"><i class="material-icons">list</i>Logbook entries</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Extra's</a></li>
            <li><a class="waves-effect" href="#!">Digitaladdiction</a></li>
            <li><a class="waves-effect" href="{{ url('logout') }}">Logout</a></li>
        </ul>

        {% block content %}
        {% endblock %}

        <script type="text/javascript" src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/materialize-autocomplete/jquery.materialize-autocomplete.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/momentjs/moment.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/romejs/rome.standalone.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/ripjar-material-datetime-picker/material-datetime-picker.js') }}"></script>
        <script type="text/javascript">
            $(function() {
                if ($('.button-collapse').length > 0)
                {
                    $('.button-collapse').sideNav({
                            menuWidth: 300, // Default is 300
                            edge: 'left', // Choose the horizontal origin
                            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                            draggable: true // Choose whether you can drag to open on touch screens
                        }
                    );
                }

            });
        </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>